<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameMode"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Level"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GamePlay"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Result"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Profile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HowToPlay"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Catagory"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Difficulty_SQL"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Difficulty_C"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Difficulty_Java"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Summary"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HintDialog1"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HintDialog2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HintDialog3"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HintDialog4"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HintDialog5"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HintDialog6"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HintDialog7"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HintDialog8"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HintDialog9"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SolutionDialog1"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SolutionDialog2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SolutionDialog3"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SolutionDialog4"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SolutionDialog5"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SolutionDialog6"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SolutionDialog7"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SolutionDialog8"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SolutionDialog9"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GamePlay2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GamePlay3"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GamePlay4"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GamePlay5"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GamePlay6"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GamePlay7"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GamePlay8"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GamePlay9"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>